body {
    transition: background 0.3s, color 0.3s;
    font-family: "VT323", sans-serif;
    font-weight: 100;
    font-style: normal;
    align-items: center;
    display: flex;
    text-align: center;
    margin-top: 80px;  
    justify-content: center;
    min-height: 50vh;
}
button {
    background-color: #61a598;
    border-radius: 20px;
}
input {
    background-color: #61a598;
    border-radius: 20px;
    width: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: #112233;
    z-index: 1000;
}
#user-sidebar {  
  position: relative;
  left: 0;
  top: 130px;
  width: 90px;
  height: 100vw;
  
  padding: 1rem;
  background-color: #112233;
  color: white;
}
.light-mode {
  background-color: #0e7e6b;
    .header {
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px;
        font-size: 2em;
    }
    #section-posts {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        background: #5bebd3;
        border: 5px solid #000000;
        box-shadow: 10px 10px 0px #000000;
    }
    .thread-header {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1.5em;
        color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .thread-title {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-author {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-content {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-date {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-action {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
        font-family:VT323; 
    }
    .thread-action:hover{
        background: #61a598;
    }
    #toggle-theme{
        background-color: #0e7e6b;
        border-radius: 20px;
    }
    
}


.dark-mode {
    background-color: #06212c;
    
    .header {
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px;
        font-size: 2em;
    }
    #section-posts.section{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        width: 50%;
        margin: 20px auto;
        background: #61a598;
        border: 5px solid #000000;
        box-shadow: 10px 10px 0px #000000;
    }
    .thread-header {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1.5em;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .thread-title {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-author {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-content {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-date {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-action {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
        font-family:VT323; 
    }
    .thread-action:hover{
        background: #61a598;
    }
    #toggle-theme{
        background-color: #06212c;
        border-radius: 20px;
    }
    #section-register.section{
        bottom: 15%;
        min-height: 50vh;
        width: 50%;
        margin: 20px auto;
        background: #61a598;
        border: 5px solid #000000;
        box-shadow: 10px 10px 0px #000000;

        #register{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-nickname{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-password{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-email{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-firstname{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-lastname{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-age{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #reg-gender{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
        #registerBtn{
            background-color: #61a598;
            border-radius: 20px;
            border: 2px solid #000000;
        }
    }
    
    
    #login{  
           background-color: #61a598;
          border-radius: 20px;
          border: 2px solid #000000;
    }
    #login-id{
        background-color: #61a598;
        border-radius: 20px;
        border: 2px solid #000000;
    }
    #login-pwd{
        background-color: #61a598;
        border-radius: 20px;
        border: 2px solid #000000;
    }
    #loginBtn{
        background-color: #61a598;
        border-radius: 20px;
        border: 2px solid #000000;
    }
    #section-create-post{
        background-color: #61a598;
        color: black;
        padding: 1rem;
        border: 2px solid #000000;
        border-radius: 10px;
        margin: 1rem;
    }
    #post-title {
        background-color: #86c2b7;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    #post-content {
        background-color: #86c2b7;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    #post-category {
        background-color: #86c2b7;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    #postBtn {
        background-color: #61a598;
        border-radius: 20px;
        
    }
    #createPostBtn {
        background-color: #61a598;
        border-radius: 20px;
    }
    #logoutBtn {
        background-color: #61a598;
        border-radius: 20px;
    }
    #message {
        background-color: #61a598;
        border-radius: 20px;
    }
    #post-detail {
        background-color: #61a598;
        color: black;
        padding: 1rem;
        border: 2px solid #000000;
        border-radius: 10px;
        margin: 1rem;
      }
      .thread {
        cursor: pointer;
        transition: transform 0.2s ease;
      }
      
    
      .main-layout {
      display: flex;
    }
}

