{{define "register"}}
    {{template "layout" .}}

    {{block "title" .}}Inscription{{end}}

    {{block "content" .}}
        <h2>Inscription</h2>
        <form method="POST" action="/register">
            <input name="pseudo" placeholder="Pseudo" required><br><br>
            <input name="email" type="email" placeholder="Email" required><br><br>
            <input name="password" type="password" placeholder="Mot de passe" required><br><br>
            <button type="submit">S'inscrire</button>
        </form>
    {{end}}
{{end}}
