body {
    transition: background 0.3s, color 0.3s;
    font-family: "VT323", sans-serif;
    font-weight: 100;
     font-style: normal;
    align-items: center;
}
 .light-mode {
  background-color: #0e7e6b;
    .header {
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px;
        font-size: 2em;
    }
    .forum-container {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        background: #5bebd3;
        border: 5px solid #000000;
        box-shadow: 10px 10px 0px #000000;
    }
    .thread-header {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1.5em;
        color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .thread-title {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-author {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-content {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-date {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
    }
    .thread-action {
        margin: 0 auto;
        padding: 10px;
        background: #19a866;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #000000;
        font-family:VT323; 
    }
    .thread-action:hover{
        background: #61a598;
    }
    #toggle-theme{
        background-color: #0e7e6b;
        border-radius: 20px;
    }
    
}


.dark-mode {
    background-color: #06212c;
    .header {
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px;
        font-size: 2em;
    }
    .forum-container {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        background: #61a598;
        border: 5px solid #000000;
        box-shadow: 10px 10px 0px #000000;
    }
    .thread-header {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1.5em;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .thread-title {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-author {
        padding: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-content {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-date {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
    }
    .thread-action {
        margin: 0 auto;
        padding: 10px;
        background: #394442;
        border: 3px solid #000000;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
        color: #ffffff;
        font-family:VT323; 
    }
    .thread-action:hover{
        background: #61a598;
    }
    #toggle-theme{
        background-color: #06212c;
        border-radius: 20px;
    }
    
}
